@section Scripts {
	<script src="~/lib/fullcalendar-6.1.15/dist/index.global.min.js"></script>
	<script src="~/lib/fullcalendar-6.1.15/packages/google-calendar/index.global.min.js"></script>
	<script src="~/lib/fullcalendar-6.1.15/packages/core/locales/es.global.js"></script>
	<script src="~/lib/fullcalendar-6.1.15/packages/interaction/index.global.js"></script>

	<div id="calendar"></div>

	<script>
		document.addEventListener('DOMContentLoaded', function(){
			const calendarEl = document.getElementById('calendar');

			const calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				timeZone: 'America/El_Salvador',
				events: 'Eventos/GetEventos',
				dayMaxEvents: true,
				navLinks: true,
				editable: true,
				slotLabelFormat: {
					hour: 'numeric',
					minute: '2-digit',
					meridiem: 'short',
					hour12: true,
				},
				eventTimeFormat: {
					hour: 'numeric',
					minute: '2-digit',
					meridiem: 'short',
					hour12: true,
				},
				locale: 'es',
				headerToolbar: { // CORREGIDO
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				buttonText: {
					today: 'Hoy',
					month: 'Mes',
					week: 'Semana',
					day: 'Día',
					list: 'Lista'
				}
			});

			calendar.render();
		});
	</script>
}
